<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 px-5 bgColor">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <h2 class="textColor" style="font-family: 'Teko', sans-serif;">NOTES</h2>
        </a>
    </div>

    <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 navEle">Home</a></li>
        <li><a href="#" class="nav-link px-2 navEle">Features</a></li>
        <li><a href="#" class="nav-link px-2 navEle">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 navEle">About</a></li>
    </ul> -->
    <div class="d-flex justify-content-center">
        <div class="search"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#"
                class="search-icon"> <i class="fa fa-search"></i> </a> </div>
    </div>

    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2 btn_">Logout</button>
    </div>
</header>