<footer class="footer mt-auto py-3 bg-body-tertiary px-5">
    <div class="container d-flex justify-content-center">
        <span class="text-body-secondary text-center">&copy; 2023 NOTES</span>
    </div>
</footer>