.textColor {
  color: #0c1b33 !important;
}

.navEle {
  color: #3b3b3b !important;
}

.nav-link:hover {
  color: black !important;
}

.bgColor {
  background-color: #ffb30f !important;
}

.btn_ {
  border: 1px solid #0c1b33 !important;
  border-radius: 19px !important;
  color: #0c1b33;
}

.btn_:hover {
  background-color: #0c1b33 !important;
  color: #e0e0e0 !important;
  border-color: initial;
}

.btnFill_ {
  background-color: #0c1b33 !important;
  color: #f3f9d2;
}

.btnFill_:hover {
  background-color: #2b4162 !important;
  color: #e0e0e0;
  border-color: initial;
}

.homeContainer {
  max-width: 100vw !important;
  justify-content: center;
  height: 90vh;
}

.container {
  margin: 0;
  max-width: 100vw;
  padding: 0;
  align-items: center;
  align-self: center;
}

.homeContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 5px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* White color */
  border-radius: 10px; /* Pill shape */
}

/* Optional: Hover styles for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0; /* Lighter color on hover */
}

/* Optional: Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent !important;
}

.homeHeader {
  font-size: 80px !important;
}

.innerHomeContent {
  width: 40vw;
  margin-top: 70px;
}

.homeTagButton {
  width: fit-content;
  margin: auto;
}

.aboutHeaders {
  font-size: 40px;
  font-weight: 600;
  color: #0c1b33;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin: auto;
  gap: 30px;
  margin-top: 70px;
}

.listDiv {
  justify-content: space-between;
}

.dashboardUserHeader {
  font-size: 35px;
  font-weight: 600;
  color: #0c1b33;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.userInnerNav {
  justify-content: space-between;
}

.createOneLink {
  font-weight: 500;
  color: #0c1b33;
}

.createOneLink:hover {
  color: #2b4162;
}

.search {
  width: 40vw;
  margin-bottom: auto;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #0c1b33;
  font-size: 19px;
  font-weight: 300;
  color: #3b3b3b;
  transition: width 0.4s linear;
  padding-right: 42px;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0c1b33;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.search-icon:hover {
  background-color: #2b4162;
}

a:link {
  text-decoration: none;
}

.breadcrumbDashboard {
  margin: 0;
}

.breadcrumb a {
  color: #0c1b33 !important;
  text-decoration: underline;
}

.breadcrumb a:hover {
  color: #2b4162 !important;
}

.noBorder {
  border: none;
}

.noBLradius {
  border-bottom-left-radius: 0;
}

.noBRradius {
  border-bottom-right-radius: 0;
}

.noULradius {
  border-top-left-radius: 0;
}

.noURradius {
  border-top-right-radius: 0;
}

.form-control:active,
.form-control:focus {
  box-shadow: none !important;
  resize: none !important;
}

.deleteBtn {
  background-color: #ff1d15 !important;
  border: none !important;
}

.deleteBtn:hover {
  background-color: #ff1d15 !important;
}

.searchListEle a {
  font-weight: 500 !important;
  text-decoration: underline !important;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  max-height: 200px; /* Set your desired fixed height */
  position: relative;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body {
  font-size: 1rem;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0;
}
