<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="aboutContainer navEle">
            <div>
                <h2 class="aboutHeaders">About</h2>
                <p>Write your thoughts down as they come to you. Notes is a simple to use free notes taking app made
                    with Node.Js, EJS & MongoDB.</p>
            </div>
            <div class="d-flex listDiv">
                <div>
                    <h2 class="aboutHeaders">Features</h2>
                    <ul>
                        <li>Attractive Front Page</li>
                        <li>Google Authentication</li>
                        <li>Search</li>
                        <li>Pagination</li>
                        <li>Crete Notes</li>
                        <li>Update Notes</li>
                        <li>Delete Notes</li>
                        <li>View Notes</li>
                    </ul>
                </div>
                <div>
                    <h2 class="aboutHeaders">Tech Stack</h2>
                    <ul>
                        <li>HTML5</li>
                        <li>NodeJs</li>
                        <li>Express</li>
                        <li>EJS</li>
                        <li>MongoDB</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div>
                    <h2 class="aboutHeaders">Dependencies</h2>
                    <ul>
                        <li>Ejs</li>
                        <li>Express</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>