<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="d-flex homeContainer">
            <img src="./images/human-1.svg" style="width: 500px; position: absolute; bottom: 0; left: 0;" alt="">
            <div class="innerHomeContent">
                <img src="./images/stars.svg" alt="">
                <div class="homeContent">
                    <h1 class="homeHeader">Write your thoughts down as they come to you</h1>
                    <p class="homeTagline navEle">Notes is a simple to use free note taking app made with Node.Js, EJS &
                        MongoDB.</p>
                    <button class="btn_ btnFill_ homeTagButton"
                        style="padding: 10px 20px; border-radius: 29px !important;">Try Notes,
                        it's
                        FREE!</button>
                </div>
            </div>
            <img src="./images/human-2.svg" style="width: 450px; position: absolute; bottom: 0; right: 0;" alt="">
        </div>
    </body>