<% layout('./layouts/boilerplate') -%>

    <body>

        <div class="dashboardContainer" style="gap: 10px;">
            <nav aria-label="breadcrumb" class="breadcrumbDashboard">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Note Title
                    </li>
                </ol>
            </nav>
            <h1 style="font-size: 30px;">Add Note</h1>
            <form action="/note" method="post">
                <div>
                    <input type="text" class="form-control noBorder noBLradius noBRradius" id="exampleFormControlInput1"
                        placeholder="Title" style="font-weight: 500;" name="title">
                    <textarea class="form-control noBorder noULradius noURradius" id="exampleFormControlTextarea1"
                        rows="15" placeholder="Take a note..." name="body"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn_ btnFill_"
                    style="border-radius: 25px !important; justify-content: space-between; width: fit-content; margin-top: 20px;">+
                    Add
                    Note</button>
            </form>
        </div>
    </body>