<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="dashboardContainer">
            <div class="d-flex userInnerNav">
                <h2 class="dashboardUserHeader">Hey, Swamp</h2>
                <button class="btn btn-primary btn_ btnFill_"
                    style="border-radius: 25px !important; justify-content: space-between;">+ New
                    Note</button>
            </div>
            <div class="d-flex">
                <img src="./images/human-3.svg" alt="">
                <div>
                    <h2 class="dashboardUserHeader" style="font-size: 30px !important;">Okay...</h2>
                    <p class="navEle">Let's start with your first note!</p>
                    <a href="#" class="createOneLink">Create one!</a>
                </div>
            </div>
        </div>
    </body>