<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="dashboardContainer">
            <ul style="list-style-type: none;">
                <li class="searchListEle"><a href="#">Note Title</a></li>
                <li class="searchListEle"><a href="#">Note Title</a></li>
                <li class="searchListEle"><a href="#">Note Title</a></li>
                <li class="searchListEle"><a href="#">Note Title</a></li>
                <li class="searchListEle"><a href="#">Note Title</a></li>
            </ul>
        </div>
    </body>